[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
mlflow = "*"
evidently = "==0.7.9"

[dev-packages]

[requires]
python_version = "3.12"
