[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
mlflow = "*"
evidently = "==0.7.9"
fastapi = "*"
uvicorn = "*"
joblib = "*"
numpy = "*"
streamlit = "*"

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
autoflake = "*"

[requires]
python_version = "3.12"
